################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ascii-timer/.vs/ascii-timer/v16/Browse.VC.opendb
